.listing-tatoos.pull-left
  %h1 Site settings
  = form_for @settings[0], remote: true do |f|
    = f.label f.object.name
    = f.text_area :value
    = f.submit
  %h1 Listing tatoos

  .tatoo-dashboard-items

    
    - @tatoos.each do |tatoo|
      .tatoo-dashboard-item{id: "sequence_#{tatoo.id}"}
        .tatoo-preview.pull-left
          = image_tag(tatoo.image.url(:thumb), alt: alt_text(tatoo))
        .tatoo-actions.pull-left  
          .pull-left= link_to 'Show', tatoo, remote: true, data: {url: tatoo.image.url(:original)}, class: 'tatoo-link'
          .pull-left= link_to 'Edit', edit_tatoo_path(tatoo)
          .pull-left= link_to 'Destroy', tatoo, :class => 'delete-tatoo', :method => :delete, :remote => true
          .pull-left= link_to (tatoo.premium ? 'Premium' : 'Free'), toggle_premium_tatoo_path(tatoo), remote: true, class: 'toggle-premium-link', method: :put
          .clearfix
        .clearfix
.preview-tatoo.pull-right
  %img.preview
.clearfix
%br

= link_to 'New Tatoo', new_tatoo_path
%br
= link_to 'Mass upload', mass_upload_form_tatoos_path
%br
= link_to 'Sign out', destroy_user_session_path, method: :delete