- content_for :head do
  %title
    Radial tattoos
.banner
  %p.white.description
    We have hundreds of radially symmetrical tattoo designs. The tattoo designs are complex computer generated images which can also be used as textile designs. we have premium designs with high resolution image downloadable on purchase. Also we have a good collection of free designs.

.catagory-tabs.col-12
  = link_to 'Free', root_path, class: "tab pull-left #{action_name == 'index' ? 'current-tab' : ''}"
  = link_to 'Premium', premium_tatoos_path, class: "tab pull-left #{action_name == 'premium' ? 'current-tab' : ''}"
  .clearfix
- @tatoos.each do |tatoo|
  .tatoo.pull-left.col-lg-3.col-sm-4.col-6
    .tatoo-inner
      - unless true
        .free-label
          = 'Free'
      = link_to tatoo_path(tatoo) do
        = image_tag(tatoo.image.url(:medium), alt: alt_text(tatoo))
.clearfix
.pagination-links-main
  = will_paginate(@tatoos, inner_window: 1, outer_window: 0)
.footer.col-12
  .contact-no.pull-right
    Contact us +91 9747515133
  .clearfix