- content_for :head do
  %title
    = title_for(@tatoo)
.tatoo-large
  .tatoo-wrapper.col-lg-5.col-sm-12
    .pagination-links
      .pagination-link.previus.pull-left
        = link_to 'Previous', tatoo_path(next_item(@tatoos.to_a, @tatoo, -1)), rel: 'nofollow'
      .pagination-link.next.pull-right
        = link_to 'Next', tatoo_path(next_item(@tatoos.to_a, @tatoo, 1)), rel: 'nofollow'
      .clearfix
      .buy-tatoo.previus
        - if @tatoo.premium
          = link_to 'Buy this tatoo to get full size image', purchase_start_tatoo_path(@tatoo)
    = @tatoo.premium ? image_tag(@tatoo.image.url(:medium), alt: alt_text(@tatoo)) : image_tag(@tatoo.image.url(:original), alt: alt_text(@tatoo))
  %p.description.white= alt_text(@tatoo)