!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %meta{ :name=>"robots", :content=>"index,follow"}
    %meta{ :name=>"Description", :content=>"radialtattoos provide radially symmetric tattoo designs. this include free and premium downloadable tattoo designs. these are complex tattoo designs"}
    %meta{ :name=>"google-site-verification", :content=>"RTn56zwPNTl1Q8QG8ENW3Ipd9aQd7znmDNaCRgcxVtc"}
    %a{ :rel=>"canonical", :href=>"https://www.radialtattoos.com" }
    %title Radially symmetric tattoo designs, free and premium
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - if Rails.env.production?
      = render partial: 'layouts/ga_code'
  %body
    = yield
